doctype html
html(lang="en")
  head
    title= "Javascript Programming Contest"
    script(type="text/javascript", src="bower_components/zepto/zepto.min.js")
    script(type="text/javascript", src="js/src/login.js")

  body
    div#container
      h2= "Javascript Programming Contest"
      div#message= message
      div#login
        input(type="radio", name="newuser", val="false", checked="checked")
        label= "Existing User"
        br
        input(type="radio", name="newuser", val="true")
        label= "New User"
        br
        form.loginform(action="/login", method="post")
          input(type="text", name="username", placeholder="Username")
          br
          input(type="password", name="password", placeholder="Password")
          br
          button(type="submit")= "Log in"
        form.signupform(action="/signup", method="post")
          input(type="text", name="username", placeholder="Username")
          br
          input(type="password", name="password", placeholder="Password")
          br
          button(type="submit")= "Sign up"